@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400..900;1,400..900&display=swap");
.main {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  overflow: hidden;

  /*
  // DARK BACKGROUND
  background-color: rgba(var(--callout-rgb), 0.5);
  */
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -136px;
}

.form {
  height: 100px;
  text-align: center;
}

.formInput {
  padding-top: 16px;
}

.formInput > input {
  background-color: white;
  color: black;
  font-family: Raleway;
  font-size: 14px;
  margin-right: 4px;
  padding: 8px 16px;
}

.formButton {
  background-color: #bf6a30;
  color: white;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  margin-left: 4px;
  padding: 8px 16px;
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
